h1, h2 
{
    text-align:center;
}
body
{
    background-color: #57886C;
}
.Images /* To move images to desired postiion*/
{
    margin-left: 100px;
    margin-bottom: 10px;
}

#Brands /* To accomodate position for images*/
{
    margin-bottom: -100px;
    padding: 0px;
}
#LastPara /* To prevent excess spacing from text and images*/
{
    margin-bottom: 100px;
    padding: 0px;
}